/* ===========================================
   Light Theme (Default)
=========================================== */
:root {
    /* Backgrounds */
    --color-bg: #fff7f9;
    /* Soft pink */
    --color-bg-alt: #fff0f5;
    /* Light pink */
    --color-bg-image: #ffffff;

    --content-bg: rgba(255, 247, 249, 1);

    /* Surfaces */
    --color-surface: #ffffff;

    /* Text Colors */
    --color-text: #5A3330;
    /* Main text color */
    --color-muted-text: #a0522d;
    /* Brown muted text */

    /* Borders */
    --color-border: #d6458935;
    /* Cream border */

    /* Primary Colors */
    --color-primary: #d64588;
    /* Main Cakery pink */
    --color-primary-light: #fff0f5;
    /* Soft pink */
    --color-primary-dark: #9c3263;
    /* Rich pink */

    /* Nice color for UI */
    --pink-light: #fff0f5;
    --pink-main: #d64588;
    --cream: #fbeec1;
    --gold-soft: #e6c17b;
    --brown: #a0522d;
    --text: #333;
    --bg: #fff7f9;
    --rich-chocolate-brown: #4c1f1a;
    --rich-pink-main: #9c3263;
    --dark-chocolate: #5A3330;
    --pink-soft: #EFB5D0;
}